{{- if .Values.knativeServing.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: config-autoscaler
  namespace: {{ .Values.knativeServing.namespace }}
  labels:
    app.kubernetes.io/name: knative-serving
    app.kubernetes.io/instance: {{ .Release.Name }}
data:
  min-scale: {{ .Values.knativeServing.autoscaling.minScale | quote }}
  max-scale: {{ .Values.knativeServing.autoscaling.maxScale | quote }}
  scale-to-zero-grace-period: "30s"
  stable-window: "60s"
{{- end }}
