apiVersion: v1
kind: ConfigMap
metadata:
  name: root-redirect-config
  namespace: default
data:
  nginx.conf: |
    events {
        worker_connections 1024;
    }
    http {
        server {
            listen 80;
            server_name _;
            location / {
                return 301 https://hello-world.benedict-aryo.com\$request_uri;
            }
        }
    }