apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: blog
  namespace: apps
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/target: "10"
    spec:
      imagePullSecrets:
        - name: ghcr-login
      containers:
        - image: ghcr.io/benedictusaryo/personal-web-blog:latest
          ports:
            - containerPort: 8080
          env:
            - name: ENV
              value: production
