apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: blog
  namespace: apps
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/target: "10"
    spec:
      imagePullSecrets:
        - name: ghcr-login
      containers:
        - image: ghcr.io/benedictusaryo/personal-web-blog:latest
          ports:
            - containerPort: 8080
          env:
            - name: ENV
              value: production
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: blog-ingress
  namespace: apps
  annotations:
    kubernetes.io/ingress.class: "traefik"
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
spec:
  rules:
    - host: "benedict-aryo.com"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: blog
                port:
                  number: 80
  tls:
    - hosts:
        - "benedict-aryo.com"
      secretName: blog-tls
