apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: pdf-utils
  namespace: apps
spec:
  template:
    spec:
      containers:
        - image: ghcr.io/stirling-tools/stirling-pdf:latest
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "500m"
              memory: "1Gi"
            limits:
              cpu: "1000m"
              memory: "2Gi"
