apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cluster-serverless-root
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/BenedictusAryo/cluster-serverless.git
    targetRevision: HEAD
    path: charts/primary-chart
    helm:
      values: |
        repoURL: https://github.com/BenedictusAryo/cluster-serverless.git
        targetRevision: HEAD
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
