---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: wa-notif-postgres-credentials
  namespace: apps
spec:
  encryptedData:
    database: AgB3CNQmYHbQgZwK71vaFTorsJxRnwNp64yZ3APjDzWa4j2RSEB4e2zMQfmmQ0isvSEtHxC8MoTVnBZNSIDUSpfoS7L1Q8aFY46019T9cy/BdnEkVR4rNqSdNlKeKJFTvFgsb+oVB+iXqMWVBK9LL2nP9FpLPWA5OdXU4tq2S87n5UwaeCgkTkB/T3h+GmtsWOhkizie1DXZTJFMh3JdjDOclJtKfkg7GqXfSjQQF9qEdz293NwApRvC5XCKmeIncIQoItkm/PX8TdYk+0aSkREEUVcggVoBdv4gOveRWq4OtwoSFl6gE46z0l7ojjUBRs8n7RlNYIwaYvbHDabgTjNjUVsJ0ufU3kKAJqcfP23HJ7l1/PgZmFAYZzFuzhj/sOTvaz6t8ZWg7k//vEShMFoeuPar3tqKtfUhSkb/epoKHwArrgCT6OaZ0Pke38ElMIuklPJf2CaudpabCvH7gYcoJKe+8bHylvwUcc0trzKtqRSiR2F8bYW1ue3smEUYLwNAieJs37+7UI2e8omfKdPlbIOHOdmFj7CR12b1oZA9r92JVj9QIQu4s7v7Qn5PGWK+bLv6vnA8QhxUhkzwdWp47iTZUO+zHZX5tf3pz6P9HUo33O2Sgz0rLrzRnMoPx169PUSSN/h6nUdEvK5ele8cBy+DPXJEIHuyjhVT+EVP5348dtlJY0XXpSYMTcXFSnuBoiFFkk3TySQ=
    password: AgBZhMnmq1fJal1W8qRLWjAcFDDZ48Z5NpY2Oxo4TS2bWtiDRipRXWMz8liAKICpCMcMOsacryzP489eR+SC0kVKqe1cOO/BaHX4IEKfxSZr6wJ2VycnDrxu2IXZXUU7talZlijB6rMYSuhi9snxnAsFTX9By42CwXWdsbmpSuJQaU6STG3sy7s4xg7J1CriedKMKgdFJ+kZyE/E60RPFIvwbm4crQHKqCltZYuVboSbn4qAFkohPIFrC1kcm8mheWgrcTfdTq2WsJBALL+ya6VTfHW+NXV2Q7wZ81ly64nCTr0+X9CaRbjsLL1d5K41XleLGf0G2bM6aBFT4vAyd9e0+bsayWVAUfIjO91otigvTFNkn0mFYbH4BXCIu+ERiMarooEuz5EBd4sSXQ93GOzpvdAuo+ARnUzgrAYDhGIj3AoxOtlHDoIu2aq/GZQ339mlaCAsCJtiFOG3I8+AKdU/dGw68x7WzyeWpN6MGeR59MGzFfzypkWlcLEvIwfULdBb22YCVEvcYs9tGX6EoGkKhQawgoQ/Srw902/YNIR4NeqbG2Yjl/ijtJ5V3X44PAUPvP3okE51ujZmaCTzvLPjLJ2RkE9mKvgx862AZa3e5yNBWAZRU2/umo+dWh65GFuqg8SDEJQEIqQbNZKTDnRtyR9qflQUEchn/dWfo+kviBGtlirna3SbuWitwlt0pUmJz4MwQr1oD3Vivj40sPlxXyM=
    username: AgAU5Fo6WJW+XVDx8cSD1GDtnDTdK47uoJ+ItiEymWnXW7Nt6/XvimhjPzRjJS2CetYIwtPq4MlE+3ICDhSnh+pKyaCd7D2BeiyBdPmGSUsSio2HLG5OBgsICF1mUpfy4T+lHeAj3bW0av96KnNaLUBGW7jl1xtU32KsGq6JYfdTKRaryoPdqd/Arrbi1+wQYVz0H62gLIsAw8KVgoMhKa1ZUzZwfaJ+KoNyGiXW99X2kC67K/Azp5Hw5Jz0aW1dmfxKy4YpgfVdMHycSQoTqqeX3+08sF39og+MscFBRmJCwKJA+spYE7jrrRjbmSiwKu5rYTJoTPGpg9SmatQSpirrkXFjj65EgTl+wLO6tJkr30zm++dnkdkEv9DskVpnbjV7JFuxg8wFCnwvocfb99s62zxhKvFMbUHuwkALAv6Ow2y26htvBaNsKQR9UNAIG0yV2GO2yFscNgcKNUsI3ogW6qMM5U+fewN+jQwFe5JAbcZ9hDR0kohGGVIUvLiFurJLg+qFxkR8OaY/CACDECATa3AKH1XrqXmaWE2ThzZvpzkFsHLqWfmyU7pBoAcAdRpqbGQVKbDc9m8fb3xkbPnY37ZWXCAudHzNUMoDDLBjdMGn39FSlU7Ddq4hbfNLwew+aMPunYguHLfS7OW1VgTZLxbXOiGRkQc38zXO01vn34VGNyCf8m05lt/419VSGqSTiupl1NTbVfY=
    database-uri: AgAmqG9wpOy6dB6RZy8YVemw9E24BpimRMNZil52mB0oXvz8sWPJB5wM76UV9+Y7bfvH3PWSTwe7p3KeToiWqLyaG0thBlIMwBuZAL8kYW9BKNvtAk3f/MAi1Pg2JI7Omn9I53WojwAHLbQs4VrnoUBvHoOsKVzRuCjLMGvP0+0aHbLvxpy4brtuWo4A59nIOGRk4d7ENcyG7ty1Bomyx+W8gnmZB2Y2jFx7cI9RV2nhwg4H58L75a7iN2es47TWjlkYqW6ua4jeRfwx5ITAPcny4iw/J8cxI993VZL2YapFtGjSnpTjzl/lWC0w0StBIqvQEPyrRwv0P4v+1ll5KEHeDd+TJ2gkcnb+FvaSR0sYPhWQyU+qPHzR6llVycEVzvA5BtohgEIJjhjCb7XsH4ktvwJxdH5uXBgDJFMEQ6/fM18tz/5XkFCf9NGGvAMfP1kojBLKrhRFcV8ex8RFXLO7dnhDQJtUTyUA7aMVdRNZUJThIivgbHCeAEGCfnG8x9p2eNJwbNSMrMwT4yQzTRnROXUclWJijAcF3bmpfE43wrcsxrlcxjL5dWE6t53OLCXhtiDkAMV7rGex9IpyfoiZ+2kBygsKlRxb9OBnoEJGtT1/O4Nwx/QCWg1qteJnN3nM+1/gDDxLAuKmYtgTFTCCRCBjRtQlmpsaDHMwVgmgzje/Pup/V4X8fGh3F4nEKyUulZvCw69vHXB4ZbNxDvpfG0aKRTXzxVTKMtqY1YSpt3pi3m5+u5FtdFYxmdwfBuHEzGCt2kuLd/fgmE7R9NnnMm7LwQ==
  template:
    metadata:
      name: wa-notif-postgres-credentials
      namespace: apps
---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: wa-notif-postgres-admin
  namespace: apps
spec:
  encryptedData:
    postgres-password: AgBsxYP16j6xuT1TkGoKKLrqGNv8n76eTko/nPW76Gb8gTWUAPPDmdR40hMzHc81zBJww5F2N42UfrEWAIDSBkSyw5hOkWmfgdDTqbRDtt/kpLvg2apIFu4rnqb0EdmBCv7seE0Q4/un3RJ7VtQUBlsYSBCykH/nEw/wKEehiKwOLhoRNyNerDAinIeEP83mM9pPhKY2BfGmu1BgXw7cQaGEV/pAJYNL9gvS1lAetJm2EGcatlB0X3E8IZFVco8EYzYaGlabDjKcpuiINFUk74MjVmwgp3AQ8r+6WuVbBMSMW167WiPmgVZxoQXpwefBBzPXk4E/606SJ3LEEQcIQgSQDBBgt2K6kAP3IF/05tmpGMJyBiRegAc4pXpONGb1GrgaOYb2RWYGOwo4UHmz/H7wytymq0W/SownhqkNwZdETukUsvLy6I6v54cJ5Uy+5Btsuq0W4TMsgASyJbtEF7lzuZHWRWjDAMSGPVovzKA/+ZxOz9Qjl0MK7vuwat64wRx0/7UNKqWGPq+h0gPALIJODKUxV5bjHAqkDrSc8I2eI4m04vonbq8bHBTkP/QxZ6/JIrD192VxMj9CurjBhDgt48YuFtBbK9EAabzJ50aJ3bWZ/8RJDwoHT2uMHujVVAkT9m/2ZVI0NKaCkoTz8SIw/qMFMq8FOSXj7LYJFuaZlf+mAUZ8xqcpwQ1jE2Vt90awWWz49/onPcktVw==
  template:
    metadata:
      name: wa-notif-postgres-admin
      namespace: apps
---
apiVersion: batch/v1
kind: Job
metadata:
  name: wa-notif-db-provision
  namespace: apps
spec:
  template:
    spec:
      containers:
        - name: psql
          image: bitnamilegacy/postgresql:17
          env:
            - name: PGHOST
              value: postgres.infra.svc.cluster.local
            - name: PGPORT
              value: "5432"
            - name: PGUSER
              value: postgres
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                  name: wa-notif-postgres-admin
                  key: postgres-password
            - name: APP_DB
              valueFrom:
                secretKeyRef:
                  name: wa-notif-postgres-credentials
                  key: database
            - name: APP_USER
              valueFrom:
                secretKeyRef:
                  name: wa-notif-postgres-credentials
                  key: username
            - name: APP_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: wa-notif-postgres-credentials
                  key: password
          command:
            - /bin/bash
            - -c
            - |
              set -euo pipefail
              until pg_isready -h "$PGHOST" -p "$PGPORT" -U "$PGUSER"; do
                sleep 2
              done
              psql -v ON_ERROR_STOP=1 <<PSQL_EOF
              SELECT format('CREATE DATABASE %I;', '$APP_DB')
              WHERE NOT EXISTS (SELECT FROM pg_database WHERE datname='$APP_DB')
              \gexec
              DO \$body\$
              BEGIN
                IF NOT EXISTS (SELECT FROM pg_roles WHERE rolname='$APP_USER') THEN
                  EXECUTE format('CREATE USER %I WITH PASSWORD %L', '$APP_USER', '$APP_PASSWORD');
                ELSE
                  EXECUTE format('ALTER USER %I WITH PASSWORD %L', '$APP_USER', '$APP_PASSWORD');
                END IF;
              END
              \$body\$;
              SELECT format('ALTER DATABASE %I OWNER TO %I;', '$APP_DB', '$APP_USER')
              WHERE EXISTS (SELECT FROM pg_roles WHERE rolname='$APP_USER')
              \gexec
              PSQL_EOF
      restartPolicy: OnFailure
