---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: wa-notif-postgres-credentials
  namespace: apps
spec:
  encryptedData:
    database: AgABSkDzf017dmZkdTMOt9P5ELgl8srUlV8BNMqKgIV9w3z0lx4XdSxtvDiDQIG7T+/jW8XXk+TYDzTVKbuq8hLYj6ADPOLgbT9QHE/nGcpxOQJJclTuNEIXKpxmqNZSbbwVky3Sn/yyw7gO8UBlu/hHKktKJluvFNNK/BqZYxrNIw1MOPrML+CpxJMBw2poTZ7H/L8d/fDdJw4bTTjwGMoAH9iKus4UngMOdRt0gRiE0/z8j5OLnmVCr2bUOVGegbwTs8Z6zaiSxwWJDgtqw3JnhQMV71WsWdnKOvUjF162Yav9f2wTERmOdeFl3JJwsnW3O+ZNoM5oev95gZ+S7jV8F1QGmga2PsrwSMLEAxaEeRbWX6MAHW6HiuR1+aRFS69ch3MWgdpm2jraQlJ080ghKmJNs3plg0CpYzzf41/WZg+HBGcbvqgCQlLMs2SI6bDq97kdp+u2lfmVaIKtv4oTsCx0FUoomDBkoPc6oK/Wo8186UHsGW/TyPHuXHodh7gfrIbdJ8RMY8ilTCew1HVSNF0ILh1qCCpjMrsUfW6R6PpFQZegocPD4ShJ4/Dazx8eNZ+ShoI7Hdb4fcq2LQAi8Hjzke7PJqo95EyQYN8yFbmP2e/MNwd4/wQN8kNCQwYLg3CJtgtk9d5PebbrQftBHaeXoB/5f2a54MqOf+i77yIrgJK787o7TkkKhHxjJVxqme3Wie1s4g==
    database-uri: AgBp2frQDhb4DH4DucIo79n4QchNI+wOKYs/Bp0tTBduVfR0Y2nZqRZaoEb4FDDn1wZ4epkBkT5cReXu81RqGUBjCRMUf1x0LmbqSOwtPH+Y5e4tBJp4SMJ3Gd0GMtQ8NTVGe4Oawrx0bEKEkJ47+3fuC8c5nwQHAvNvQ6RDt2hX4QEgz7ILkYVqM75ornVkfFm6zs+EZ06mv4DsLxuoGuOtR6VteUjAT/+wYwrfoAwhPBYpeica0lsJpdkt1naZlgOXBk+A5pWlosluu+PcWfg9OF0bPYQCS2Y+rbY+WqdDAAoAclgNMUgh6nQzRFs0OjGF/6g6Tw2jjGIR6WU1k2lIbgSS6FtQevb1/Oxdu43Km+6Xg5hr3ATsdgJf/rAD2qF/IzzYJ6gXCV8SwiqY0N30QAsSiBWWdko6tZoVDK8TEY4xiPwpC666c+C1Kz9vFZVG1BHZ2SoZ7YbGVrdNX6oh9/nKjIoXkNO7BdUOPJwGdlp1UV7+/snGGoc0wSUzMZQt8IH0o432Tc3VHKjinE9pE6y1hNemoOah3nrIgm+ODxUucndz/WZwCco0SGt2RgsbkxCCqkeQL6qMeLh8HyCRJ6K3/1pJ+QJyGawWkIMQWvCrKRB4sGsOchXQERv1fnbKBsXdaJ7w9LjVvFrMyxzcT+8wfpY//AKnlbc1RUSUFloSjucvK3wy0hN90f3Y3dTruKBJ076En8HfnWGwxNRO0dIrUKh+d/ullhinS5WXBbFmkA5zXb8LMrbN786PV3goVlmeDhVnZAVFdkNeRlHyP8n0krMpdjZQUfEP1YHDpRibmV+xLH68rjpJELUzMtCWMNw+
    password: AgAqXS1Rj/FNvHzOE+J3xRgsqAc7dd8Ic73p34zNXt4fTQ2xPBPJ7fTDZClHnwwhY51WB1k9mBYneY0D6MZFL93m/CLuhejhLg6x0WC2qxvZfQja9wAVqsGIQDm4jAspHebfBwK3u1tEvVl8SAL73h0QKIAai36PhnCrPyu2493sA7TNPquZ/1VDKW8guYsPBmyznnkwl3KYOTgBjjuYXasdlKXd+gL6N9MUH/oKvHe8cUhO0JY1/8PxOL2l2PGSiD7wdwSUo3/3zYOkCzVwvz1SzVS9PXmgVYL0CsNEeH+w1BudGv2CfrPS033zS/XfYlYbq3hqXHmhXIDshtcqLNWOmYHwDzc0w3fSdwBWRgjZTobUMJj4Hyq93hopOSgKtyLKStHEzKRzNmR46jDy+nKtiw7QmSKjOWv9dcXKQUhoZBtnzCXIX8eXQrKDPor44kJp0b/o8K75iIaS/4WCmvYiT0OhJN4IcaI1zR3uEieviHL3cVTkLxfA9RhaEAgnTS8/fPlVA52YlaWUUthxjiBUzG4aWYvGk8ERE1EETLhQTO7sTvmqoLcevdwiBxMFrewflp/lAl+jlvcbTUFTGyFkG1QGHGTBg/obd50kSIkICUk/xyXh1pT7XuM4+CNpbkFAFHi9+q/LCXwL/FCmzmqfeqaN2kNM5/J6SrVDEZWiQ8EAHrMkTU7JBM59CDgvZ2Oezy0OzD46F2YmmqclNvu3YA==
    username: AgAvs4XhLnkETaarFiiOHdiPM9Aqb4OFTfH+kuRlUjrfl8hpgFGJBW53WTOOV7K//F4QcINrpwjEeG6lb/Pre3fGXbzH4vDYRi2639Kxw9X7vRJ0QnU0EoljJFTrY1JVf2neLN+HsTSUG4+o+8rQAwI2JZHczg+rpWJ1e66cN3MT/SFBxZ2HdPwJ9LD8Kz8rITPE74pxuKMQDWCd9ffDR89M5Webss0ASeeN95KFhGo9G++liE6UGm2PMI4Y8OZQy+x9eCeIsMRT7Z7Jk9U+D+w89Tmu8wmIIa953wbZ9ZFzKrWAIVXbiVw3+um1EJJQzTckTvFlETGgl53BTbjMlhl5Hehv9fg9xGzgjEDawfWMLQeXwWzIbGq1Kqp1ow/Ok7AKb+RHsKknipVjdaENJ3ZMT9bODlUQcD9vVeIQoB1zKANkcre+Ia33zRYvr36e2CJ/L6bYLWOamEuws00Op6V2GowC7ktoGWSWbeQbA0aLkIjDtw6tkmTut9ScQDPgy8XdmQbEQGTHFqVe7OVpeeh4LWoye4CwVkyHhvaBEeK8vvpZW3+PwacEAIFxf80l1RkN9T1hUzp7f/PFhcwnY+kalcB/YPvirn4E95BdE2hI+jxI0vvLPkJP5mn2RNmpNlywpvcYRHUvfSfvOU0cb5H2Rf60PIuKdbd0qeUkl3ij4g6M8lHFz4gjMO3q7yPIs+cFT+QG9L/ENg==
  template:
    metadata:
      name: wa-notif-postgres-credentials
      namespace: apps
    type: Opaque
---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: wa-notif-postgres-admin
  namespace: apps
spec:
  encryptedData:
    postgres-password: AgCEnw3IUg/WEktNRgZFqna5FIFGfCBIU7AScHYzKLj1OHdfw50UyHH2OtSsP6tPedu3MS2c2bfkt7lsRULo5GSb4zdztnpR+GWbnnAJFVFw0QrdQtG9s7gN+lFLWUWhjzbz7FPxM6MqjjPirTtOsFAi/Y/WIv3DkfzL0bw1YdC9Rz2TN8YABQOI0iDKN42CEFCVvVsOg/Q4TCvN+J1z/7CfX/BDMJQxBqJoqkpo25faVD9yt6cydbFSYafwXgtunkpwRzuTkoEy52+dHZMiXZcy6B2K5D2M55I/oB+rU5cwuUVq67t7wOsvV0AQrY6kYWzSSyJp3rNreF/mqt2mKwzUlP40kMJzuSFfup0TLBL31f5hKswV54XuDktTH/wsu+/y1NaC5sLbQM96y6OtGChoQUT2fczHx1zTcs9ckX7/AROJsmORkJxRJB2PphdCw3oUk4/YCRgwV4VWv9qG8Jdi8PqsY+AW/n3BncteKlfdCSAQae0JdJu1fcpaHUOC6NGV4rWQoUZoUx/6hwfMa/ftuHJfxTWOxgWW/tlHlmdrzDBfqYMuQj319IvKKqars7kvsSRCR2NZpyOL/svIL0odct98vZTh12J9gxl0guM8iw7K6xeLiIzTTZwRMrib30gIvfKUhK1e3i97s4fO+u7686W5QOJw9TET9UN1XTCaxvRHfJQsP0mCmdkzGERo81KBvSMPC+Gk+IzWwg==
  template:
    metadata:
      name: wa-notif-postgres-admin
      namespace: apps
---
apiVersion: batch/v1
kind: Job
metadata:
  name: wa-notif-db-provision
  namespace: apps
spec:
  template:
    spec:
      containers:
        - name: psql
          image: bitnamilegacy/postgresql:17
          env:
            - name: PGHOST
              value: postgres.infra.svc.cluster.local
            - name: PGPORT
              value: "5432"
            - name: PGUSER
              value: postgres
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                  name: wa-notif-postgres-admin
                  key: postgres-password
            - name: APP_DB
              valueFrom:
                secretKeyRef:
                  name: wa-notif-postgres-credentials
                  key: database
            - name: APP_USER
              valueFrom:
                secretKeyRef:
                  name: wa-notif-postgres-credentials
                  key: username
            - name: APP_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: wa-notif-postgres-credentials
                  key: password
          command:
            - /bin/bash
            - -c
            - |
              set -euo pipefail
              until pg_isready -h "$PGHOST" -p "$PGPORT" -U "$PGUSER"; do
                sleep 2
              done
              psql -v ON_ERROR_STOP=1 <<PSQL_EOF
              SELECT format('CREATE DATABASE %I;', '$APP_DB')
              WHERE NOT EXISTS (SELECT FROM pg_database WHERE datname='$APP_DB')
              \gexec
              DO \$body\$
              BEGIN
                IF NOT EXISTS (SELECT FROM pg_roles WHERE rolname='$APP_USER') THEN
                  EXECUTE format('CREATE USER %I WITH PASSWORD %L', '$APP_USER', '$APP_PASSWORD');
                ELSE
                  EXECUTE format('ALTER USER %I WITH PASSWORD %L', '$APP_USER', '$APP_PASSWORD');
                END IF;
              END
              \$body\$;
              SELECT format('ALTER DATABASE %I OWNER TO %I;', '$APP_DB', '$APP_USER')
              WHERE EXISTS (SELECT FROM pg_roles WHERE rolname='$APP_USER')
              \gexec
              PSQL_EOF
      restartPolicy: OnFailure
