---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: knative-headers
  namespace: kourier-system
spec:
  headers:
    customRequestHeaders:
      X-Forwarded-Proto: "https"
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: knative-apps-http
  namespace: kourier-system
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`benedict-aryo.com`) || HostRegexp(`{subdomain:[a-z0-9-]+}.benedict-aryo.com`) && !Host(`argocd.benedict-aryo.com`)
      kind: Rule
      priority: 10
      services:
        - name: kourier
          port: 80
          namespace: kourier-system
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: knative-apps-tls
  namespace: kourier-system
spec:
  secretName: knative-apps-tls
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  commonName: benedict-aryo.com
  dnsNames:
    - benedict-aryo.com
    - "*.benedict-aryo.com"
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: knative-apps-https
  namespace: kourier-system
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`benedict-aryo.com`) || HostRegexp(`{subdomain:[a-z0-9-]+}.benedict-aryo.com`) && !Host(`argocd.benedict-aryo.com`)
      kind: Rule
      priority: 10
      middlewares:
        - name: knative-headers
          namespace: kourier-system
      services:
        - name: kourier
          port: 80
          namespace: kourier-system
  tls:
    secretName: knative-apps-tls
